<h2>Methods that were not run</h2><table>
<tr><td>com.selenium.common.TestBase.beforeTest</td></tr>
<tr><td>com.selenium.common.TestBase.BeforeTest</td></tr>
<tr><td>com.selenium.common.TestBase.AfterSuite</td></tr>
</table>