<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5ee81">  <td>16/09/20 17:45:48</td>   <td>0</td> <td title="&lt;&lt;TestBase.AfterSuite()[pri:0, instance:com.selenium.tests.NewTest@395b1bc2]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@535009440</td>   <td></td> </tr>
<tr bgcolor="85877f">  <td>16/09/20 17:44:06</td>   <td>-102533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.FirstTest()[pri:0, instance:com.selenium.tests.NewTest@395b1bc2]">FirstTest</td> 
  <td>main@535009440</td>   <td></td> </tr>
<tr bgcolor="a5ee81">  <td>16/09/20 17:45:48</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:com.selenium.tests.NewTest@395b1bc2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@535009440</td>   <td></td> </tr>
<tr bgcolor="a5ee81">  <td>16/09/20 17:43:38</td>   <td>-130750</td> <td title="&gt;&gt;TestBase.beforeTest(java.lang.String, java.lang.String)[pri:0, instance:com.selenium.tests.NewTest@395b1bc2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@535009440</td>   <td></td> </tr>
</table>
